*,
*::after
*::before
*{
    margin: 0px;
    padding: 0px;
}
.body{
    font-family: "Noto Sans", sans-serif;
}
.a{
    text-decoration:none ;
}   
.header{
    background-color: #163A24;
    color: #FBFAF7;
    
}
.container{
    max-width: 1220px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
.conteiner__wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top:20px ;
    padding-bottom: 20px;
}
.header__link{
    color: #FBFAF7;    
}
.header__buttons{
    display: flex;
    align-items: center;
    gap: 24px;
}
.btn{
    background-color:#198C36;
    padding:15px 25px;
    border-radius: 160px;
}
.First__section{    
    background-color:#163A24;
    height: calc(100vh - 98px);
    padding-left: 20px;
    padding-right: 20px;
    background: url(../img/men.png) no-repeat center center / cover;
}
.First__section__text__block{
    color: #FBFAF7;
    max-width: 475px;
    padding: 120px;
}
.section__title{
    font-size: 48px;
    font-weight: bold;
}
.text__sub-title{
    font-size: 18px;
}
.second-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.two__section{
    background: url(../img/jk.png) no-repeat center center;
    align-items: center;
    height: 1225px;
    width: 1440;
    margin-bottom: 35px;
    
}
.First__section__text__block2{
    align-items: center;
    margin-top: 25px;
}
.section__title2{
    height: 108px;
    width: 325px;
    margin-top: 60px;
    margin-left: 800px;
    font-size: 48px;
    margin-bottom: 3px;
    color: #163A24;
}
.text__sub-title2{
    height: 54px;
    width: 374px;
    margin-top: 60px;
    margin-left: 800px;
    font-size: 18px;
    color: #163A24;
}
.frst_logos{
    
    margin-right: 100px;
    padding-right: 100px;}
.sectiIon__tIitle3{
    height: 400px;
    width: 376px;
    margin-top: 300px;
    margin-left:200px;
    font-size: 48px;
    color: #163A24;
}
.teExt__sSub-tiItle3{
    margin-top: -300px;
    margin-left: 200px;
    height: 400px;
    width: 315px;
    font-size: 18px;
    color: #163A24;
}
.frst_logos{
    font-size: 48px;
    width: 539px;
    height: 54px;
    margin-left: 430px;
    align-items: center;
    color: #163A24;
}
.first_section_wraper3{
    background-color:#163A24;
    height: calc(100vh - 98px);
    padding-left: 19px;
    padding-right: 20px;
    background: url(../img/bi.png) no-repeat center center / cover;
    
}.ftb{
    margin-top: 55px;
    align-items: center;
    height: 54px;
    width: 823px;
    margin: auto;
    color: #FBFAF7;
    font-size: 48px;
}
.header_nav ul{
    display: flex;
    align-items: center;
}
.header__li{
    margin-left: 100px;
}.header__li:first-child{
    margin-left: 0;
}.container4{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
    
.fsw4{
    background: url(../img/duie.png);
    height: 775px;
    width: 1463px;
    background-color:#F2EFE6;
    height: calc(100vh - 98px);
    padding-left: 19px;
    padding-right: 20px;
    color: #000000;
}
.fh11{
    color: #F2EFE6;
    align-items: center;
    height: 108px;
    width: 739px;
    font-size: 48px;
}.cont5{
    align-items: center;
}
.container5{
    margin-left: auto;
    margin-right: auto;
    
}

.h15{
margin-left: 430px;
height: 50px;
left: 100px;

}

.fh1t{
   align-items: center;
   margin-left: auto;
   margin-right: auto;
    width: 739px;
    height: 108px;
    font-size: 48px;
    color:#163A24;
}
.ptext{
    width: 760px;
    height: 54px;
    align-items: center;
   margin-left: auto;
   margin-right: auto;
}
.container6{
    background: url(../img/ctx.png) no-repeat center center;
    width: 1440px;
    height: 194px;
}
.h16{
    margin-left: 565px;
}
.header__li{
    margin-left: 1200px;
}
